html {
  margin: 0;
  font-family: "Raleway";
  font-weight: bold;
  letter-spacing: 3px;
  background: white;
  text-align: center;
  padding-top: 5px;
}

.header-container{
  display: flex;
  justify-content: center;
  padding: 7px;
}

.audio-movement-header {
  width: 75vw;
  font-size: 22px;
  padding: 10px;
  border-bottom: 2px solid #feb0b0;
  color: black;
}

canvas {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 38vw;
}

.audio-file {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.default-audio-player {
  display: none;
}

#visualizer_wrapper{
	text-align: center;
}

.thefile {
  letter-spacing: 1px;
  font-weight: bold;
  color: #feb0b0;
  display: block;
  cursor: pointer;
  z-index: 10;
  width: 15%;
}

.play-button, .pause-button, .volume-button {
  background: none;
  border: none;
  font-size: 12px;
}

.play-button:hover, .pause-button:hover, .volume-button:hover {
  color: #feb0b0;
}


progress{
  margin-top: 2px;
  margin-left: 5px;
}

progress::-moz-progress-bar{
  background-color: red !important;
}

input[type=range]{
  transform: rotate(270deg);
}
