html {
  margin: 0;
  font-family: "Raleway";
  font-weight: bold;
  letter-spacing: 3px;
  background: white;
  text-align: center;
  padding-top: 5px;
}

.header-container{
  display: flex;
  justify-content: center;
  padding: 7px;
}

.audio-movement-header {
  width: 75vw;
  font-size: 22px;
  padding: 10px;
  border-bottom: 2px solid #feb0b0;
  color: black;
}

canvas {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 38vw;
}


/* Audio menu CSS */
.audio-file {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.default-audio-player {
  display: none;
}


.thefile {
  letter-spacing: 1px;
  font-weight: bold;
  color: #feb0b0;
  display: block;
  cursor: pointer;
  z-index: 10;
  width: 15%;
}

.play-button, .pause-button, .volume-button {
  background: none;
  border: none;
  font-size: 12px;
}

.play-button:hover, .pause-button:hover, .volume-button:hover {
  color: #feb0b0;
}


progress{
  margin-top: 2px;
  margin-left: 5px;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.foot-container{
  padding: 4px;
  width: 75vw;
}

.foot-container a{
  font-size: 30px;
}

.created-by-text-container {
  padding: 10px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.created-by-text-container a {
  border-bottom: 1.5px solid #feb0b0;
}

.create-by-text {
  font-size: 7px;
}
