html {
  margin: 0;
  font-family: "Raleway";
  font-weight: bold;
  letter-spacing: 3px;
  background: white;
  text-align: center;
}

.header-container{
  display: flex;
  justify-content: center;
  padding: 7px;
}

.audio-movement-header {
  width: 75vw;
  font-size: 20px;
  padding: 7px;
  border-bottom: 2px solid #feb0b0;
  color: black;
}

canvas {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 38vw;
}

.audio-and-file {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.default-audio-player {
  display: none;
}

#visualizer_wrapper{
	text-align: center;
}

.thefile {
  top: 20px;
  left: 20px;
  font-size: 12px;
  padding: 15px 30px;

  letter-spacing: 0.1em;
  font-weight: bold;
  color: #feb0b0;
  display: block;
  cursor: pointer;
  transition: transform .3s;
  z-index: 10;
}

input {
  display: none;
}
