.color-controller-container {
  width: 100vw;
}

.color-controller{
  display: flex;
  justify-content: center;
}

.gradientbutton {
  border: none;
  background: none;
  color: white;
  font-size: 12px;
}

.colorbuttons {
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 50%;
  margin: 2px;
}

.selected {
  background: blue;
  border: none;
}


/* individual color buttons */

.colorbutton1 {
  background: #212021;
  border: none;
}

.colorbutton2 {
  background: #222034;
  border: none;
}

.colorbutton3 {
  background: #45283c;
  border: none;
}

.colorbutton4 {
  background: #663931;
  border: none;
}

.colorbutton5 {
  background: #8f563b;
  border: none;
}

.colorbutton6 {
  background: #df7126;
  border: none;
}

.colorbutton7 {
  background: #d9a066;
  border: none;
}

.colorbutton8 {
  background: #eec39a;
  border: none;
}


/* individual color buttons */

.colorbutton9 {
  background: #fbf236;
  border: none;
}
.colorbutton10 {
  background: #99e550;
  border: none;
}
.colorbutton11 {
  background: #6abe30;
  border: none;
}
.colorbutton12 {
  background: #37946e;
  border: none;
}
.colorbutton13 {
  background: #4b692f;
  border: none;
}
.colorbutton14 {
  background: #524b24;
  border: none;
}
.colorbutton15 {
  background: #323c39;
  border: none;
}
.colorbutton16 {
  background: #3f3f74;
  border: none;
}

/* individual color buttons */
.colorbutton17 {
  background: #306082;
  border: none;
}
.colorbutton18 {
  background: #5b6ee1;
  border: none;
}
.colorbutton19 {
  background: #639bff;
  border: none;
}
.colorbutton20 {
  background: #5fcde4;
  border: none;
}
.colorbutton21 {
  background: #cbdbfc;
  border: none;
}
.colorbutton22 {
  background: #ffffff;
  border: none;
}
.colorbutton23 {
  background: #9badb7;
  border: none;
}
.colorbutton24 {
  background: #847e87;
  border: none;
}

/* individual color buttons */


.colorbutton25 {
  background: #696a6a;
  border: none;
}
.colorbutton26 {
  background: #595652;
  border: none;
}
.colorbutton27 {
  background: #76428a;
  border: none;
}
.colorbutton28 {
  background: #ac3232;
  border: none;
}
.colorbutton29 {
  background: #d95763;
  border: none;
}
.colorbutton30 {
  background: #d77bba;
  border: none;
}
.colorbutton31 {
  background: #8f974a;
  border: none;
}
.colorbutton32 {
  background: #8f974a;
  border: none;
}
