.color-controller-container {
  padding: 2px;
  justify-content: center;
}

.color-controller{
  display: flex;
  justify-content: center;
}

.color-controller button{
  display: flex;
  justify-content: center;
}


.gradient-button-container{
  display: flex;
  justify-content: center;
}

.gradientbutton {
  border: none;
  background: none;
  color: black;
  font-size: 12px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Raleway";
  letter-spacing: 1px;
}

.gradientbutton:hover {
  color: #feb0b0;
}

.colorbuttons {
  width: 1.1vw;
  height: 1.1vw;
  border-radius: 50%;
  margin: 2px;
}

.selected {
  color: #feb0b0;
  border: none;
  text-decoration: none;
  font-weight: bold;
}

.colorreset {
  background: none;
  border: none;
  padding-top: 2px;
}

.gradient-controller-container{
  display: flex;
  padding: 10px;
  justify-content: center;
}

.gradient-controller-container input {
  margin-left: 15px;
  margin-right: 15px;
}

.slider {
  -webkit-appearance: none;
   width: 10%;
   height: 8px;
   border-radius: 8px;
   background: #F7F7F7;
   outline: none;
   opacity: 0.6;
   -webkit-transition: .3s;
   transition: opacity .6s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #feb0b0;
  cursor: pointer;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}






/* individual color buttons */
.colorbutton1 {
  background: #F4F6F7;
  border: none;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}
.colorbutton2 {
  background: #ECF0F1;
  border: none;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}
.colorbutton3 {
  background: #D98880;
  border: none;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}
.colorbutton4 {
  background: #C0392B;
  border: none;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}
.colorbutton5 {
  background: #FECCCC;
  border: none;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}
.colorbutton6 {
  background: #feb0b0;
  border: none;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}
.colorbutton7 {
  background: #C39BD3;
  border: none;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}
.colorbutton8 {
  background: #9B59B6;
  border: none;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}
.colorbutton9 {
  background: #BB8FCE;
  border: none;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}
.colorbutton10 {
  background: #8E44AD;
  border: none;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}
.colorbutton11 {
  background: #7FB3D5;
  border: none;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}
.colorbutton12 {
  background: #2980B9;
  border: none;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}
.colorbutton13 {
  background: #85C1E9;
  border: none;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}
.colorbutton14 {
  background: #3498DB;
  border: none;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}
.colorbutton15 {
  background: #76D7C4;
  border: none;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}
.colorbutton16 {
  background: #1ABC9C;
  border: none;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}
.colorbutton17 {
  background: #73C6B6;
  border: none;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}
.colorbutton18 {
  background: #16A085;
  border: none;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}
.colorbutton19 {
  background: #7DCEA0;
  border: none;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}
.colorbutton20 {
  background: #27AE60;
  border: none;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}
.colorbutton21 {
  background: #82E0AA;
  border: none;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}
.colorbutton22 {
  background: #2ECC71;
  border: none;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}
.colorbutton23 {
  background: #F7DC6F;
  border: none;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}
.colorbutton24 {
  background: #F1C40F;
  border: none;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}
.colorbutton25 {
  background: #F8C471;
  border: none;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}
.colorbutton26 {
  background: #F39C12;
  border: none;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}
.colorbutton27 {
  background: #F0B27A;
  border: none;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}
.colorbutton28 {
  background: #E67E22;
  border: none;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}
.colorbutton29 {
  background: #E59866;
  border: none;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}
.colorbutton30 {
  background: #D35400;
  border: none;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}
.colorbutton31 {
  background: #D7DBDD;
  border: none;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}
.colorbutton32 {
  background: #BDC3C7;
  border: none;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}
.colorbutton33 {
  background: #BFC9CA;
  border: none;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}
.colorbutton34 {
  background: #95A5A6;
  border: none;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}
.colorbutton35 {
  background: #B2BABB;
  border: none;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}
.colorbutton36 {
  background: #7F8C8D;
  border: none;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}
.colorbutton37 {
  background: #85929E;
  border: none;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}
.colorbutton38 {
  background: #34495E;
  border: none;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}
.colorbutton39 {
  background: #212F3D;
  border: none;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}
.colorbutton40 {
  background: #17202A;
  border: none;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}
