html, body {
  margin: 0;
  font-family: arial, "Microsoft YaHei";
  background: black;
  color: #FEFEFE;
  display:flex;
  justify-content: center;
}

#content {
  background: black;
}

.color-controller{
  display: flex;
  justify-content: center;
}

h1 {
  display: flex;
  justify-content: center;
  padding: 20px;
}

canvas {
  display: flex;
  justify-content: center;
}

.audio-and-file {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

#visualizer_wrapper{
	text-align: center;
}

.thefile {
  top: 20px;
  left: 20px;
  font-size: 12px;
  padding: 15px 30px;

  letter-spacing: 0.1em;
  font-weight: bold;
  color: #19c1aa;
  display: block;
  cursor: pointer;
  transition: transform .3s;
  z-index: 10;
}

input {
  display: none;
}
