.color-controller button {
  border: none;
  width: 3vw;
  padding: 5px;
}

.color1 {
  background: #FFEEFC;
}

.color2 {
  background: #B5FFE3;
}

.color3 {
  background: #FFD8B1;
}

.color4 {
  background: #C9DEFF;
}
